.card_container {
    min-height: 100vh;
    background: url();

}

.card_container .card {
    background: linear-gradient(rgb(166, 7, 230), rgba(190, 6, 150, 0.931));

}

.card .form-control {
    background: transparent;

}

.card .form-control::placeholder {
    color: #fff;

}

.card .form-group .btn {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

